This is for handling Nominal Variables in any dataset to convert it in a suitable number (Data Pre-processing step). For handling I am using "Pandas Dummy Variable Handling" Technique

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

df=pd.read_csv('carprices.csv')
dummies= pd.get_dummies(df['Car Model'])
merged_df=pd.concat([df,dummies],axis='columns')
final=merged_df.drop(['Car Model','Mercedez Benz C class'],axis='columns')

# def bool_to_binary(a):
#     b=[]
#     for i in range(len(a)):
#         if(a[i]==True):
#             b.append(1)
#         else:
#             b.append(0)
#     return b 

# final['Audi A5']=bool_to_binary(np.array(final['Audi A5'])) 
# final['BMW X5'] =bool_to_binary(np.array(final['BMW X5'])) 

model=linear_model.LinearRegression()
model.fit(final[['Mileage','Age(yrs)','Audi A5','BMW X5']],final['Sell Price($)'])
m1,m2,m3,m4= model.coef_
b=model.intercept_

print(model.predict([[45000,4,0,0]]))
print(model.predict([[86000,7,0,1]]))
Y=final['Sell Price($)']
X=final.drop(['Sell Price($)'],axis='columns')
print("X",X)
print("Y",Y)
model.score(X,Y)
df

[36991.31721061]
[11080.74313219]
X     Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6    False    True
1     35000         3    False    True
2     57000         5    False    True
3     22500         2    False    True
4     46000         4    False    True
5     59000         5     True   False
6     52000         5     True   False
7     72000         6     True   False
8     91000         8     True   False
9     67000         6    False   False
10    83000         7    False   False
11    79000         7    False   False
12    59000         5    False   False
Y 0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

c:\Users\HP USER\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
c:\Users\HP USER\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

Using sklearn OneHotEncoder

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
le= LabelEncoder()

df_LabelEncoder=df
df_LabelEncoder['Car Model']=le.fit_transform(df_LabelEncoder['Car Model'])
df_LabelEncoder
x=df_LabelEncoder[['Car Model','Mileage','Age(yrs)']].values
y=df_LabelEncoder['Sell Price($)'].values

ct = ColumnTransformer([('Car MOdel', OneHotEncoder(), [0])], remainder = 'passthrough')

x=ct.fit_transform(x)
x=x[:,1:]
model.fit(x,y)
print(model.score(x,y))

print(model.predict([[0,1,45000,4]]))
print(model.predict([[1,0,86000,7]]))

0.9417050937281083
[36991.31721063]
[11080.74313217]